<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 100px;
        max-width: 400px;
    }

    .highcharts-data-table table {
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }
    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    input[type="number"] {
        min-width: 50px;
    }
</style>
<script>
    function pie(id, data){
        let filtered_data = data.map(function(bal){
            let t = {
                name: bal.symbol,
                y: Number(bal.latest_btc_price * (bal.free+bal.locked)),
                sliced: bal.symbol === 'BTC' ? true : false
            }
            console.log(t)
            return t
        })
        Highcharts.chart(`container${id}`, {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Balances by Currency'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Balance',
                colorByPoint: true,
                data: filtered_data
            }]
        });
    }
</script>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron shadow rounded">
            <h4>Account's Settings</h4>
            <p>Your account's settings. Connect to the exchange and change notifications options.
                <% if(accounts.length > 0){
                for (const [i, account] of accounts.entries())
                {
                %>
                    <% include ../partials/account %>
                <%
                }}
                %>
                <a href="/account/new">
                    <button type="button" name="create_account" class="btn btn-outline-secondary">
                        New Account
                    </button>
                </a>
            </p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
