<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Administration</h1>
                <p>
                    <div>
                        <h4>Exchanges</h4>
                        <%
                        for (const [i, exchange] of exchanges.entries())
                        {
                        %>
                            <% include ../partials/exchange %>
                        <%
                        }
                        %>
                    </div>
                    <div>
                        <h4>Indicators</h4>
                        <%
                        for (const [i, indicator] of indicators.entries())
                        {
                        %>
                            <% include ../partials/indicator %>
                        <%
                        }
                        %>
                        <a href="/indicator/new">
                            <button type="button" name="create_indicator" class="btn btn-outline-secondary">
                                New indicator
                            </button>
                        </a>
                    </div>
                    <hr/>
                    <div class="mt-3">
                        <h4>Timeframes</h4>
                        <%
                        for (const [i, timeframe] of timeframes.entries())
                        {
                        %>
                            <% include ../partials/timeframe %>
                        <%
                        }
                        %>
                        <a href="/timeframe/new">
                            <button type="button" name="create_timeframe" class="btn btn-outline-secondary">
                                New Timeframe
                            </button>
                        </a>
                    </div>
                    <hr/>
                    <div class="mt-3">
                        <h4>Markets</h4>
                        <%
                        for (const [i, market] of markets.entries())
                        {
                        %>
                            <% include ../partials/market %>
                        <%
                        }
                        %>
                    </div>

                </p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
