<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <script>
        let js_algos = <%-JSON.stringify(algos)%>
        function selected_type(type, id){
            let value = document.getElementById(type + '_order_type' + id).value
            switch (value) {
                case 'market':
                    document.getElementById(type + '_post_price' + id).type = 'hidden'
                    document.getElementById(type + '_stall_protect' + id).type = 'hidden'
                    document.getElementById(type + '_trail_trig' + id).type = 'hidden'
                    document.getElementById(type + '_trail_gap_reduce' + id).type = 'hidden'
                    document.getElementById(type + '_trail_stop' + id).type = 'hidden'
                    if(type === 'sell'){
                        document.getElementById(type + '_stop-loss' + id).type = 'hidden'
                    }
                    break;
            
                case 'limit':
                    document.getElementById(type + '_post_price' + id).type = 'text'
                    document.getElementById(type + '_stall_protect' + id).type = 'text'
                    document.getElementById(type + '_trail_trig' + id).type = 'hidden'
                    //document.getElementById(type + '_trail_gap_reduce' + id).type = 'hidden'
                    document.getElementById(type + '_trail_stop' + id).type = 'hidden'
                    if(type === 'sell'){
                        document.getElementById(type + '_stop-loss' + id).type = 'text'
                    }
                    break;

                case 'trailing':
                    //document.getElementById(type + '_post_price' + id).type = 'hidden'
                    document.getElementById(type + '_post_price' + id).type = 'text'
                    document.getElementById(type + '_stall_protect' + id).type = 'text'
                    document.getElementById(type + '_trail_trig' + id).type = 'text'
                    //document.getElementById(type + '_trail_gap_reduce' + id).type = 'text'
                    document.getElementById(type + '_trail_stop' + id).type = 'text'
                    if(type === 'sell'){
                        document.getElementById(type + '_stop-loss' + id).type = 'text'
                    }
                    break;
            }
        }
        function selected_amount(type, id){
            let base_value = document.getElementById(type + '_base_amount' + id).value
            let balance_value = document.getElementById(type + '_balance' + id).value

            if(Number(base_value) === 0){
                document.getElementById(type + '_balance' + id).type = 'text'
                document.getElementById(type + '_base_amount' + id).type = 'hidden'
            }
            if(Number(balance_value) === 0){
                document.getElementById(type + '_balance' + id).type = 'hidden'
                document.getElementById(type + '_base_amount' + id).type = 'text'
            }
            if(Number(balance_value) === 0 && Number(base_value) === 0){
                document.getElementById(type + '_balance' + id).type = 'text'
                document.getElementById(type + '_base_amount' + id).type = 'text'
            }
        }
        function newIndicator(referenceNodeId, type) {
            let referenceNode = document.getElementById(referenceNodeId)
            let newNode = document.createElement("div");

            let timeframes = []
            for (const timeframe of js_algos[0].timeframes) {
                timeframes.push(`<option value="${timeframe.id}">
                                    ${timeframe.name}
                                </option>`)
            }

            let indicators = []
            for (const indicator of js_algos[0].indicators) {
                indicators.push(`<option value="${indicator.id}">
                                    ${indicator.name}
                                </option>`)
            }

            newNode.innerHTML = `
                <div class="form-row mb-3">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">New Indicator</label>
                            </div>
                            <select name="${type}_indicator_timeframe_id" class="custom-select">
                                ${timeframes}
                            </select>
                            <select name="${type}_indicator_id" class="custom-select">
                                ${indicators}
                            </select>
                            <select name="${type}_indicator_trigger_cond" class="custom-select">
                                <option value="<=" ${type === 'buy' ? 'selected' : ''}>Lesser Than</option>
                                <option value=">=" ${type === 'sell' ? 'selected' : ''}>Greater Than</option>
                            </select>
                            <input type="text" class="form-control" name="${type}_indicator_trigger" value=""/>
                            <div class="input-group-append">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Add new indicator condition">
                                    <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                        <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                        <circle cx="10" cy="6.5" r="1"></circle>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>`
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
            $('[data-toggle="tooltip"]').tooltip(); 
        }
        function newLayer(referenceNodeId, type) {
            let referenceNode = document.getElementById(referenceNodeId)
            let newNode = document.createElement("div");

            newNode.innerHTML = `
            <div class="form-row mb-3">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">New Layer</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Select the type of order once the algo triggers.">
                            Type
                        </span>
                    </div>
                    <select name="${type}_layer_type" class="custom-select">
                        <option value="market" selected>
                            Market
                        </option>
                        <option value="limit" >
                            Limit
                        </option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set a % from the trigging price to post the order of this layer. Ignored if market order.">
                            Price %
                        </span>
                    </div>
                    <input type="text" class="form-control" name="${type}_layer_percent" 
                    value="0"/>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set a quantity (or % of account's balance) to use when posting this layer's order.">
                            Qty
                        </span>
                    </div>
                    <input type="text" class="form-control" name="${type}_layer_qty" 
                    value="0"/>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Check if qty is in % of account's balance.">
                            %&nbsp;<input type="checkbox" id="${type}_layer_qty_percent" name="${type}_layer_qty_percent" >
                        </span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Limit the lifetime, in minutes, of a posted order before it is cancelled. A market order will be posted to exit the trade.">
                            Stall
                        </span>
                    </div>
                    <input type="text" class="form-control" name="${type}_layer_stall" 
                    value="0"/>
                    
                </div>
            </div>
            </div>`
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
            $('[data-toggle="tooltip"]').tooltip(); 
        }
    </script>
    <main>
        <div class="jumbotron shadow rounded">
            <h4>Algos</h4>
            <p>Algos are linked to a specific account, create them from there, then edit their settings.
                <%if(locals.algos){
                for (const [i, algo] of algos.entries())
                {
                %>
                    <% include ../partials/algo %>
                <%
                }}
                %>
                <a href="/algo/new/0">
                    <button type="button" name="create_algo" class="btn btn-outline-secondary">
                        New Algo
                    </button>
                </a>
             </p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
