<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron shadow rounded">
                <h4>Version <%= data.version%> Changelog:</h4>
                <p><strong>0.9.4</strong>
                    <br/>Changes:
                    <ul>
                        <li>All database queries are now parameterized.</li>
                        <li>Log In and Log Out are now accessible in the nav menu.</li>
                        <li>Markets are now synced with sputnik, deletions too.</li>
                    </ul>
                    Bug fixed:
                    <ul>
                        <li>Fixed a bug that corrupted indicators' periods when an admin saved it.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.9.3</strong>
                    <br/>Changes:
                    <ul>
                        <li>Greatly reduced the number of fetches to sputnik when in livetest or real trading.</li>
                        <li>Indicators with no triggers will not be saved.</li>
                        <li>Layers with no qty, or qith a qty of 0 will not be saved.</li>
                        <li>Tests with a USDT base should now report the correct gains.</li>
                        <li>When tests are ending, we'll now receive a Telegram notif.</li>
                        <li>Added a unit test for multi-market backtesting.</li>
                        <li>Reduced the ressources used while running livetests/real trading.</li>
                        <li>Refactored the indicator methods to be more efficient.</li>
                        <li>Increased the realism of multi-market scenarios.</li>
                        <li>Tests will now only attemp to buy or sell if a balance is available.</li>
                    </ul>
                    Bug fixed:
                    <ul>
                        <li>Fixed a long-running bug that made backtest trades happen 1min before the actual candle.</li>
                        <li>Fixed multiple bugs that consummed too much ressources in live data.</li>
                        <li>Fixed a bug that made multi-market scenarios test only for the first market.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.9.2</strong>
                    <br/>Changes:
                    <ul>
                        <li>Switched to dynamic market timeframe for test results. Needs sputnik v1.7.0</li>
                        <li>Added test completion % to the test results page.</li>
                        <li>Removed logs from console. They are stored in the DB.</li>
                        <li>Started work to update database to PG12 and TS1.7.</li>
                        <li>Added a random name generator to new Accounts and new Algos.</li>
                        <li>Logs and Balances should not be restarded when restarting the server.</li>
                    </ul>
                    Bug fixed:
                    <ul>
                        <li>Fixed a hang when no stop-time have been entered.</li>
                        <li>Fixed a bug when no opening price is present in livetest/real trading.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.9.1</strong>
                    <br/>Changes:
                    <ul>
                        <li>Added log types for easy filtering on tests results.</li>
                        <li>Tests will show the last Quote/Base and Total value at the end.</li>
                        <li>Test logs time is now adjusted for New York timezone (UTC-4).</li>
                        <li>Cleaned up trading logs.</li>
                        <li>Revamped the test result UI.</li>
                        <li>Every backtest or livetest has it's own balances now. Real Trading uses global balances form Binance.</li>
                        <li>Added a completion indicator to the tests overview.</li>
                    </ul>
                    Bug fixed:
                    <ul>
                        <li>Multiple small trading fixes.</li>
                        <li>Fixed the spare change trading problem from 0.9.0.</li>
                        <li>Fixed unit tests.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.9.0</strong>
                    <br/>Changes:
                    <ul>
                        <li>Algo's indicators can now be deleted.</li>
                        <li>Algos can be duplicated.</li>
                        <li>Algos now display the tests running.</li>
                        <li>Algos now display the current average profits.</li>
                        <li>Trailing strategy can now set of layers or market or limit orders.</li>
                        <li>Finished UI work on layered orders.</li>
                        <li>Finished to implement layered orders in the trading engine.</li>
                        <li>Added multiple test units.</li>
                        <li>Restarted Tests will erase logs and trades.</li>
                        <li>Changed the calculation behind trade gains, to work with layered orders.</li>
                        <li>Accounts are now longer really deleted, only unaccessible.</li>
                    </ul>
                    Bug Added:
                    <ul>
                        <li>It will usualy rebuy a second time with spare change, which is not expected.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.8.7</strong>
                    <br/>Changes:
                    <ul>
                        <li>Implemented sell Stop-Loss % (to market sell or limit sell).</li>
                        <li>Revamped the tests overview pages with actions buttons and simplified tables.</li>
                        <li>Tests can be stopped, restarted and deleted in batches.</li>
                        <li>Algos and tests are no longer really deleted, only hidden.</li>
                        <li>Telegram notifications gains from real trading is corrected.</li>
                        <li>Algo's indicators can now be deleted.</li>
                        <li>Algos can be duplicated.</li>
                        <li>Trailing strategy can now set of a market or limit order.</li>
                    </ul>
                    Bug Fixed:
                    <ul>
                        <li>A bunch of small bug fixes</li>
                    </ul>
                    =====
                    <br/><strong>0.8.6</strong>
                    <br/>Changes:
                    <ul>
                        <li>Balances for multi-market tests are now working as expected.</li>
                        <li>Indicator results are now logged at each candle.</li>
                        <li>Trading result graphs were revamped to better support multi-markets</li>
                    </ul>
                    Bug Fixed:
                    <ul>
                        <li></li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.8.5</strong>
                    <br/>Changes:
                    <ul>
                        <li>Updated unit tests to fit recent changes.</li>
                        <li>Will now fetch previous data on livetests and real trading (no warmup).</li>
                        <li>Balances are set at the test start, to suport multi-market trading.</li>
                        <li>Balances are set in BTC value and converted to the base currency (ex, USDT) at the latest price.</li>
                    </ul>
                    Bug Fixed:
                    <ul>
                        <li></li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.8.4</strong>
                    <br/>Changes:
                    <ul>
                        <li>Removes unused market whitelist & blacklists in algos.</li>
                        <li>Removes unused timeframe selector in algos and tests.</li>
                    </ul>
                    Bug Fixed:
                    <ul>
                        <li>Fix another bug that would block livetests and real trading from looping.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.8.3</strong>
                    <br/>Changes:
                    <ul>
                        <li>We can now select multiple markets to test.</li>
                        <li>Gains calculations have been rethought carefully.</li>
                        <li>Logs were clarified.</li>
                    </ul>
                    Bug Fixed:
                    <ul>
                        <li>Fixed a bug that would block livetests and real trading from starting.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.8.2</strong>
                    <br/>Changes:
                    <ul>
                        <li>Added admin page to configure markets, indicators, timeframes.</li>
                        <li>Combined multiple markets in one test, instead of creating multiple tests.</li>
                        <li>Added market name to logs.</li>
                        <li>Multiple markets can now by traded at the same time.</li>
                    </ul>
                    Bug Fixed:
                    <ul>
                        <li>Fixed crash when no data received from sputnik.</li>
                        <li>Reduced the number of imports for multiple files.</li>
                    </ul>
                    Known bugs:
                    <ul>
                        <li>Cannot select markets on the test page.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.8.1</strong>
                    <br/>Changes:
                    <ul>
                        <li>Updated test result trades calculations.</li>
                        <li>Added multiple details to notifications.</li>
                        <li>Extracted and refactored real trading binance functions.</li>
                    </ul>
                    Bug Fixed:
                    <ul>
                        <li>Fixed crash on algo create.</li>
                        <li>Fixed algos in wrong order.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.8.0</strong>
                    <br/>Changes:
                    <ul>
                        <li>Automated Trading is mostly done.</li>
                        <li>Market limits (min/max) are now calculated before orders.</li>
                    </ul>
                    Known bugs:
                    <ul>
                        <li>Notifications are not detailed enough.</li>
                        <li>Automated trading have only been tested yet on very shoft term, do not expect it to work for long period.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.7.9</strong>
                    <br/>Changes:
                    <ul>
                        <li>Refactored the trading engine to use fewer variables, decreasing the complexity.</li>
                        <li>Trades now record the traded qty and the traded price, instead of both balances.</li>
                        <li>Balances are queried before trades and updated after.</li>
                        <li>Trading results should be more accurate.</li>
                        <li>All changes are passing unit tests.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.7.8</strong>
                    <br/>Changes:
                    <ul>
                        <li>Indicators' periods can now be changed from the admin menu.</li>
                        <li>Changed default indicators' periods.</li>
                        <li>Temporarly removed indicator because I haven't found their typical periods.</li>
                        <li>Added a browser alert to discourage Chrome.</li>
                    </ul>
                    Bug fixes:
                    <ul>
                        <li>Reduced wait time on tests start.</li>
                        <li>Fixed a crash than happened when creatin algos with no account.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.7.7</strong>
                    <br/>Changes:
                    <ul>
                        <li>On algos page, incompatible settings will now be hidden.</li>
                    </ul>
                    Bug fixes:
                    <ul>
                        <li>Fixed a stall protection trading bug derived from the v0.7.6 fix.</li>
                        <li>Updated unit tests to reflect the changes.</li>
                        <li>Fixed account's balance pie chart.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.7.6</strong>
                    <br/>Changes:
                    <ul>
                        <li>No notable changes, only bug fixes</li>
                    </ul>
                    Bug fixes:
                    <ul>
                        <li>Fixed result page not refreshing data.</li>
                        <li>Fixed a market/limit trading bug derived from the v0.7.4 trailing stall protection fix.</li>
                        <li>Updated unit tests to reflect the changes.</li>
                        <li>Fixed missing css map file.</li>
                        <li>Updated some dependancies.</li>
                    </ul>
                    =====
                    <br/>

                    <strong>0.7.5</strong>
                    <br/>Changes:
                    <ul>
                        <li>Display 3 types of balances on account page.</li>
                        <li>Adds Market Gain on the trading results page, to compare against the market trend.</li>
                        <li>Moved test_logs to db instead of files, should greatly speed up things</li>
                    </ul>
                    Bug fixes:
                    <ul>
                        <li>Fixed a bug where it displayed the wrong market data on trading results page.</li>
                        <li>Fixed CI bug regarding sql tables.</li>
                        <li>Changed SQL JSON types to JSONB for speed efficiencies.</li>
                    </ul>
                    =====
                    <br/>

                    <strong>0.7.4</strong>
                    <br/>Changes:
                    <ul>
                        <li>Completely refactored the trailing strategy for better speed, accuracy and gains.</li>
                    </ul>
                    Bug fixes:
                    <ul>
                        <li>Added explaination for telegramId.</li>
                        <li>Added explaination to trailing settings.</li>
                        <li>Updated unit tests for trailing.</li>
                    </ul>
                    =====
                    <br/>

                    <strong>0.7.3</strong>
                    <br/>Changes:
                    <ul>
                        <li>Dangling tests will now restart to the side and time where they were stopped.</li>
                    </ul>
                    Bug fixes:
                    <ul>
                        <li>Worked to greatly reduced trailing time, with help from the k problem fix. <strong>Postponed</strong> to a complete trailing refactor.</li>
                        <li>Fix unit tests with new market id by searching the eth/btc market.</li>
                        <li>Updated unit tests.</li>
                        <li>Updated some dependencies.</li>
                    </ul>
                    =====
                    <br/>

                    <strong>0.7.2</strong>
                    <br/>
                    Bug fixes:
                    <ul>
                        <li>Fix k timeframe problem.</li>
                        <li>Fix markets orders inflation.</li>
                    </ul>
                    =====
                    <br/>
                    <strong>0.7.1</strong>
                    <br/>
                    Bug fixes:
                    <ul>
                        <li>Fix trade recording problem.</li>
                        <li>Fix trade logs/table/graphs display problem.</li>
                    </ul>
                    =====
                    <br/>

                    <strong>0.7.0</strong>
                    <br/>Changes:
                    <ul>
                        <li>Refactored backtests and livetests db models into the tests one.</li>
                        <li>Algo.get(), Account.get(), Timeframe.get(), Indicator.get() to sane defaults</li>
                        <li>Added more types to db queries results</li>
                    </ul>
                    Bug fixes:
                    <ul>
                        <li>Multiple fixes in the testing flow.</li>
                    </ul>
                    <strong>Bug Added</strong>:
                    <ul>
                        <li>Because of the qty/value calculation change, trades are not recorded yet</li>
                        <li>Sputnik market's id has changed, need to update the tests to figure it out</li>
                    </ul>
                    =====
                    <br/>
                    
                    <strong>0.6.6</strong>
                    <br/>Changes:
                    <ul>
                        <li>Refactored backtests and livetests web pages into the tests page.</li>
                        <li>Added the Changelog page.</li>
                        <li>Added quick explainations on pages.</li>
                    </ul>
                    Bug fixes:
                    <ul>
                        <li>Multiple fixes in the trading graph</li>
                        <li>Change to function to update markets from sputnik, to reduce duplicates</li>
                    </ul>
                    =====
                </p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
