<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron shadow rounded">
                <h4>Welcome!</h4>
                <p>
                    Version: <%= data.version%> <a href="/changelog" >What's new?</a><br/>
                    vostok is used to create and backtest trading algos.<br/>
                    It can also send you trades notifications by email & Telegram.<br/>
                    Create a user, an account and algos <a href="/login">here!</a>
                </p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
