<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron shadow rounded">
            <h4>Admin / Indicators</h4>
            <p>
                <%
                for (const [i, indicator] of indicators.entries())
                {
                %>
                    <% include ../partials/indicator %>
                <%
                }
                %>
                <a href="/indicator/new">
                    <button type="button" name="create_indicator" class="btn btn-outline-secondary">
                        New indicator
                    </button>
                </a>
            </p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
