<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <script src="https://www.google.com/recaptcha/api.js?render=6LfstuEUAAAAAOCZx5rNy7HvP01nR3sV22QRcUBD"></script>
        <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6LfstuEUAAAAAOCZx5rNy7HvP01nR3sV22QRcUBD', {action: 'homepage'}).then(function(token) {
                var v = grecaptcha.getResponse();
                if(v.length == 0)
                {
                    document.getElementById('captcha').innerHTML="You can't leave Captcha Code empty";
                    return false;
                }
                else
                {
                        document.getElementById('captcha').innerHTML="Captcha completed";
                    return true; 
                }
            
            });
        });
        </script>       
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron shadow rounded">
                <form class="form-signin" action="/login" method="post">
                    <div class="text-center mb-4">
                        <h4 class="h3 mb-3 font-weight-normal">Please Login or Sign Up</h4>
                        </div>
                    
                      <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="username">
                        <label for="inputEmail">Email address</label>
                      </div>
                    
                      <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
                        <label for="inputPassword">Password</label>
                      </div>
                    
                      <div class="g-recaptcha" id="rcaptcha"  data-sitekey="6LdimNcUAAAAAF6ZmudNU1iMRFhd8FFmodXHFAoH"></div>
                      <span id="captcha" style="color:red" /></span> <!-- this will show captcha errors -->
                      <button class="btn btn-lg btn-outline-primary btn-block" type="submit" name="login">Login</button>
                      <button class="btn btn-lg btn-outline-primary btn-block" type="submit" name="signup">Sign up</button>
                </form>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
