<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/static/css/tempusdominus-bootstrap-4.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        
                <%
                if (!locals.market_datas)
                {
                %>
        <div class="jumbotron shadow rounded">
            <h4><% if(locals.type === 'backtest'){ %>
                  Backtesting
                <% }else if(locals.type === 'livetest'){ %>
                  Livetesting
                <% }else{ %>
                  Real Trading
                <% } %>
            </h4>
                <p>
                  <% if(locals.type === 'backtest'){ %>
                    Backtest an algo on historical data and specific markets.
                  <% }else if(locals.type === 'livetest'){ %>
                    Livetest an algo on live data from the exchange.
                  <% }else{ %>
                    Automate the trading of your account on live data from the exchange.
                  <% } %>
                    <form action="/tests/<%= locals.type %>" method="post">
                        <div class="form-row">
                            <div class="col-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Algo</span>
                                        </div>
                                        <select name="algo" class="custom-select">
                                            <%
                                            for (const [i, algo] of algos.entries())
                                            {
                                            %>
                                                <option value="<%= algo.id%>" >
                                                    <%= algo.name %>
                                                </option>
                                            <%
                                            }
                                            %>
                                        </select>
                                        <div class="input-group-append">
                                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Select the algo to test">
                                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                                    <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                                    <circle cx="10" cy="6.5" r="1"></circle>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <select name="market" id="choices-multiple-remove-button" placeholder="Select Market" multiple class="custom-select" >
                                    <%
                                    for (const [i, market] of markets.entries())
                                    {
                                    %>
                                    <option value="<%= market.id%>" >
                                        <%= market.name %>
                                    </option>
                                    <%
                                    }
                                    %>
                                </select>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
                                    removeItemButton: true,
                                    shouldSortItems: true,
                                    
                                    });
                                });
                             </script>
                                <% if(locals.type === 'backtest' || locals.type === 'livetest'){ %>
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">BTC Balance</span>
                                            </div>
                                            <input class="form-control" type="text" id="base_amount" value="1" name="amount"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Override the BTC currency balance. If the base is different, it will convert to the current price.">
                                                    <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                                        <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                                        <circle cx="10" cy="6.5" r="1"></circle>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                      
                        <% if(locals.type === 'backtest')  { %>
                            <div class="col-2">
                                <button type="button" class="btn btn-outline-secondary" onClick="document.getElementById('datepicker_start').value = new Date(Number(new Date())-7889400000).toLocaleString('en-US')">
                                    Last 3 Months
                                    <svg class="bi bi-calendar text-secondary" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M16 2H4a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2zM3 5.857C3 5.384 3.448 5 4 5h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H4c-.552 0-1-.384-1-.857V5.857z" clip-rule="evenodd"></path>
                                        <path fill-rule="evenodd" d="M8.5 9a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                                      </svg>
                                </button>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Start Date</span>
                                        </div>
                                        <input class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#datepicker_start" type="text" placeholder="Start Date" id="datepicker_start" name="start">
                                        <div class="input-group-append">
                                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set the market starting date">
                                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                                    <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                                    <circle cx="10" cy="6.5" r="1"></circle>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <div class="col-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Stop Date</span>
                                        </div>
                                        <input class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#datepicker_stop" type="text" placeholder="Stop Date" id="datepicker_stop" name="stop">
                                        <div class="input-group-append">
                                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set the market stopping date">
                                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                                    <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                                    <circle cx="10" cy="6.5" r="1"></circle>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
         
                            <div class="col-<%= locals.type === 'backtest' ? '2' : '3' %>">
                                <button type="submit" name="test" class="btn btn-outline-secondary">
                                    <% if(locals.type === 'backtest'){ %>
                                      Backtest
                                    <% }else if(locals.type === 'livetest'){ %>
                                      Start Livetesting
                                    <% }else{ %>
                                      Start Trading
                                    <% } %>
                                    <svg class="bi bi-play text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M12.804 10L7 6.633v6.734L12.804 10zm.792-.696a.802.802 0 010 1.392l-6.363 3.692C6.713 14.69 6 14.345 6 13.692V6.308c0-.653.713-.998 1.233-.696l6.363 3.692z" clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr/>
                    <form action="/tests/state/<%= locals.type %>" method="post">
                        <div class="form-row">
                            <script>
                                function toggle(source) {
                                    checkboxes = document.getElementsByName('checked');
                                    for(var i=0, n=checkboxes.length;i<n;i++) {
                                        checkboxes[i].checked = source.checked;
                                    }
                                }
                            </script>
                            <div class="col-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Batch Action</span>
                                        </div>
                                        <select name="action" id="action" placeholder="Action" onchange="this.form.submit()" class="custom-select">
                                            <option value="">Choose Action</option>
                                            <option value="stop">Stop</option>
                                            <option value="restart">Restart</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <div class="input-group-append">
                                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Apply to chosen action to the selected test(s)">
                                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                                    <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                                    <circle cx="10" cy="6.5" r="1"></circle>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered mt-3" style="background-color: white;">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" onClick="toggle(this)" /> Select</th>
                                        <th>State</th>
                                        <th>Algo</th>
                                        <th>Markets</th>
                                        <th>Start Date</th>
                                        <th>Stop Date</th>
                                        <th>Gain</th>
                                    <tr/>
                                </thead>
                                <tbody>
                                    <% for (const [i, test] of tests.entries()) {
                                    test.color = 'table-warning'
                                    if(test.state === 'done'){
                                        test.color = 'table-success' 
                                    }else{
                                        test.color = 'warning'
                                    }
                                    test.gain_color = 'table-warning'
                                    if(test.total > 0){
                                        test.gain_color = 'table-success' 
                                    }else if(test.total < 0){
                                        test.gain_color = 'table-danger'
                                    }
                                    
                                    let date = new Date(Number(test.time))
                                    let start_date = new Date(Number(test.start))
                                    let stop_date = new Date(Number(test.stop))
                                    %>
                                    <tr>
                                        <td><input type="checkbox" id="checked<%=test.id%>" name="checked" value="<%=test.id%>"></td>
                                        <td><a href="/tests/<%= locals.type %>/<%=test.id%>"><% 
                                            let res = ''
                                                switch (test.state){
                                                    case 'init':
                                                        res = 'Starting'
                                                    break;
                                                    case 'restart':
                                                        res = 'Restarting'
                                                    break;
                                                    case 'running':
                                                        res = 'Running, '+test.completion.toFixed(2)+'%'
                                                    break;
                                                    case 'stopping':
                                                        res = 'Stopping'
                                                    break;
                                                    case 'done':
                                                        res = 'Results'
                                                    break;
                                                } 
                                            %><%= res %></a></td>
                                        <td><a href="/algo/<%= test.algo_id %>"><%= typeof algos[algos.findIndex(a => a.id == test.algo_id)] === 'undefined' ? 'Deleted algo' : algos[algos.findIndex(a => a.id == test.algo_id)].name  %></a></td>
                                        <td><%= test.market_display %></td>
                                        <td><%= start_date.toString().slice(4,-41) %></td>
                                        <td><%= stop_date.toString().slice(4,-41) %></td>
                                        <td class="<%= test.gain_color %>"><%= test.total.toFixed(6) %> (<%= test.total_percent.toFixed(2)%>%)</td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </p>
        </div>
                <%
            }else{ %>
                <% include ../partials/test_result %>
            <% } %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
        <% if (locals.market_datas) { %>
          <% include ../partials/test_result_js %>
    <% }else{ %>
        <script type="text/javascript">
        <% if(locals.type === 'backtest'){ %>
            let stop_start = true
            
          <% } %>
            $(function () {
                $('#datepicker_start').datetimepicker();
                $('#datepicker_stop').datetimepicker();
                if(stop_start){
                    document.getElementById('datepicker_stop').value = new Date().toLocaleString('en-US')
                    stop_start = false
                }
            });
        </script>
    <% } %>
    </footer>
</body>
</html>
