<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron shadow rounded">
            <h4>User's Settings
        </h4>
            <p>Your vostok user's settings. You can create exchange accounts and add you Telegram ID.
                <form action="/user" method="post">
                    <!-- id, Name, email, password, prefs, accounts -->
                    <div class="form-row">
                        <div class="col-6">
                            <input  class="form-control" type="hidden" name="id" value="<%= user.id%>"/>

                            <div class="form-label-group">
                                <input type="text" id="user_name"class="form-control" name="name"
                                    value="<%= user.name%>">
                                <label for="user_name" >Name</label>
                            </div>

                            <div class="form-label-group">
                                <label  class="form-control" class="badge ml-2" name="email">
                                    <span class="text-muted">Email</span> <%= user.email%>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Telegram ID</span>
                                    </div>
                                    <input type="text" id="telegram_id"class="form-control" name="telegram_id"
                                            value="<%= user.telegram_id%>">
                                    <div class="input-group-append">
                                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Start a conversation with @get_id to find your ID, then start another one with @asteroid_labs_vostok_bot">
                                            <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                                <circle cx="10" cy="6.5" r="1"></circle>
                                              </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="list-group list-group-horizontal-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Accounts</span>
                                    </div>
                                    <%
                                    for (const [i, account] of user.accounts.entries())
                                    {
                                    %>
                                        <a class="list-group-item list-group-item-action" href="/account/<%=account.id%>">
                                            <%= account.name %>
                                        </a>
                                    <%
                                    }
                                    %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3">    
                            <div class="form-group">
                                <button type="submit" name="save" class="btn btn-outline-success">
                                    <svg class="bi bi-cloud-upload" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.887 8.2l-.964-.165A2.5 2.5 0 105.5 13H8v1H5.5a3.5 3.5 0 11.59-6.95 5.002 5.002 0 119.804 1.98A2.501 2.501 0 0115.5 14H12v-1h3.5a1.5 1.5 0 00.237-2.982L14.7 9.854l.216-1.028a4 4 0 10-7.843-1.587l-.185.96z"></path>
                                        <path fill-rule="evenodd" d="M7 10.854a.5.5 0 00.707 0L10 8.56l2.293 2.293a.5.5 0 00.707-.707L10.354 7.5a.5.5 0 00-.708 0L7 10.146a.5.5 0 000 .708z" clip-rule="evenodd"></path>
                                        <path fill-rule="evenodd" d="M10 8a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 0110 8z" clip-rule="evenodd"></path>
                                    </svg>
                                    Save
                                </button>
                                <a href="/account/new">
                                    <button class="btn btn-outline-secondary" name="create_account" type="button">
                                        <svg class="bi bi-plus text-seconday" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H6a.5.5 0 010-1h3.5V6a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                                            <path fill-rule="evenodd" d="M9.5 10a.5.5 0 01.5-.5h4a.5.5 0 010 1h-3.5V14a.5.5 0 01-1 0v-4z" clip-rule="evenodd"></path>
                                        </svg>
                                        Account
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
