<form action="/account/<%=account.id%>" method="post">
    <!-- id, Name, email, password, prefs, accounts -->
    <div class="form-row">
        <div class="col-6">
            <input type="hidden" name="user_id" value="<%= account.user_id %>"/>
            <input type="hidden" name="account_id" value="<%= account.id%>"/>

            <div class="form-label-group">
                <input type="text" class="form-control" id="account_name" name="name"
                        value="<%= account.name%>">
                <label class="form-group-addon" for="account_name" >
                    Name
                </label>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Exchange</span>
                    </div>
                    <select name="exchange" class="custom-select">
                        <%
                        for (const [i, exchange] of account.exchanges.entries())
                        {
                            var selected = ( exchange.id == account.exchange ) ? "selected" : "";
                        %>
                        <option value="<%= exchange.id%>" <%= selected %>>
                            <%= exchange.name %>
                        </option>
                        <%
                        }
                        %>
                    </select>
                </div>
            </div>
            <div class="form-label-group">
                <input type="text" class="form-control" id="account_api_key" name="api_key"
                        value="<%= account.api_key%>"/>
                <label class="form-group-addon" for="account_api_key">API Key</label>
            </div>

            <div class="form-label-group">
                <input type="text" class="form-control" id="account_api_secret" name="api_secret"
                        value="<%= account.api_secret%>"/>
                <label class="form-group-addon" for="account_api_secret">API Secret</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Email Notifications</span>
                    </div>
                    <select name="email_notifications" class="custom-select">
                        <option value="off" <%= (account.email_notifications == 'off') ? "selected" : ""%>>Off</option>
                        <option value="on"<%= (account.email_notifications == 'on') ? "selected" : ""%>>On</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Receive emails on livetests and real trades and Binance actions">
                            <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Telegram Notifications</span>
                    </div>
                    <select name="telegram_notifications" class="custom-select">
                        <option value="off" <%= (account.telegram_notifications == 'off') ? "selected" : ""%>>Off</option>
                        <option value="on"<%= (account.telegram_notifications == 'on') ? "selected" : ""%>>On</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Received Telegram notifications on trades and Binance actions">
                            <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="list-group list-group-horizontal-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Algos</span>
                    </div>
                    <%
                    for (const [i, algo] of account.algos.entries())
                    {
                    %>
                        <a class="list-group-item list-group-item-action" href="/algo/<%=algo.id%>">
                            <%= algo.name %>
                        </a>
                    <%
                    }
                    %>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseRealBalances<%= account.id %>" aria-expanded="false" aria-controls="collapseSell">
                <svg class="bi bi-chevron-right text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                </svg>
                Balances from Binance
            </button>
        </div>
        <div class="collapse mt-2 container col-12" id="collapseRealBalances<%= account.id %>">
            <div class="mt-2 ml-2 pl-2 row" style="background-color: white;">
                <table class="table table-striped table-bordered mt-2 col-4">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Free</th>
                            <th>Locked</th>
                            <th>BTC Value</th>
                        <tr/>
                    </thead>
                    <tbody>
                        <% 
                        for (const [i, balance] of account.balances.entries()) {

                            if(balance.free > 0){
                                balance.free_color = 'table-success' 
                            }
                            if(balance.locked > 0){
                                balance.locked_color = 'table-warning' 
                            }
                        %>
                        <tr>
                            <td><%= balance.symbol %></td>
                            <td class="<%= balance.free_color %>"><%= typeof balance.free === 'undefined' ? 0 : balance.free.toFixed(3) %></td>
                            <td class="<%= balance.locked_color %>"><%= typeof balance.locked === 'undefined' ? 0 : balance.locked.toFixed(3) %></td>
                            <td><%= typeof balance.latest_btc_price === 'undefined' ? 0 : (balance.latest_btc_price*(balance.free+balance.locked)).toFixed(3) %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <div id="container<%= account.id %>real" class="col-8 mt-2">
                </div>
            </div>
            <script>
                pie(<%= account.id %>+'real', <%- JSON.stringify(account.balances) %>)
            </script>
        </div>
        <div class="col-12 mt-3">    
            <div class="form-group">
                <button type="submit" name="save" class="btn btn-outline-success">
                    <svg class="bi bi-cloud-upload" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.887 8.2l-.964-.165A2.5 2.5 0 105.5 13H8v1H5.5a3.5 3.5 0 11.59-6.95 5.002 5.002 0 119.804 1.98A2.501 2.501 0 0115.5 14H12v-1h3.5a1.5 1.5 0 00.237-2.982L14.7 9.854l.216-1.028a4 4 0 10-7.843-1.587l-.185.96z"></path>
                        <path fill-rule="evenodd" d="M7 10.854a.5.5 0 00.707 0L10 8.56l2.293 2.293a.5.5 0 00.707-.707L10.354 7.5a.5.5 0 00-.708 0L7 10.146a.5.5 0 000 .708z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M10 8a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 0110 8z" clip-rule="evenodd"></path>
                    </svg>
                    Save
                </button>
                <a href="/algo/new/<%= account.id %>">
                    <button class="btn btn-outline-secondary" name="create_algo" type="button">
                        <svg class="bi bi-plus text-seconday" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H6a.5.5 0 010-1h3.5V6a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                            <path fill-rule="evenodd" d="M9.5 10a.5.5 0 01.5-.5h4a.5.5 0 010 1h-3.5V14a.5.5 0 01-1 0v-4z" clip-rule="evenodd"></path>
                        </svg>
                        Algo
                    </button>
                </a>
            <button type="submit" name="delete_account" class="btn btn-outline-danger float-right">
                <svg class="bi bi-alert-triangle-fill mb-1" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.022 3.566a1.13 1.13 0 011.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H3.144c-.889 0-1.437-.99-.98-1.767L9.022 3.566zM9.002 14a1 1 0 112 0 1 1 0 01-2 0zM10 7a.905.905 0 00-.9.995l.35 3.507a.553.553 0 001.1 0l.35-3.507A.905.905 0 0010 7z" clip-rule="evenodd"></path>
                </svg>
                Delete Account
                <span class="badge badge-secondary ml-2" name="account_id-visible">
                    <%= account.id%>
                </span>
            </button>
            </div>
        </div>
    </div>
</form>
<hr/>