<form class="mb-5" action="/algo/<%=algo.id%>" method="post">
    <% if(algo.tests.backtest.length > 0) { %>
        <div class="alert alert-warning" role="alert">
            Warning! This algo is currently in use by <%= algo.tests.backtest.length %> active <a href="/tests/backtest/">backtests</a>. Any changes made will require the backtests' restart.
        </div>
    <% } %>
    <% if(algo.tests.livetest.length > 0) { %>
        <div class="alert alert-warning" role="alert">
            Warning! This algo is currently in use by <%= algo.tests.livetest.length %> active <a href="/tests/livetest/">livetests</a>. Any changes made will require the livetests' restart.
        </div>
    <% } %>
    <% if(algo.tests.realtest.length > 0) { %>
        <div class="alert alert-warning" role="alert">
            Warning! This algo is currently in use by <%= algo.tests.realtest.length %> active <a href="/tests/real/">real tradings</a>. Any changes made will require the real tradings' restart.
        </div>
    <% } %>
    <div class="form-row">
        <!-- id, account_id, name, timeframe, markets_min_volume, status, buy_pref, sell_pref  -->
        <input type="hidden" name="user_id" value="<%= algo.user_id %>" />
        <input type="hidden" class="form-control" name="algo_id" value="<%= algo.id%>" />
        <div class="col-3">
            <div class="form-label-group">
                <input type="text" class="form-control" id="algo_name" name="name" value="<%= algo.name %>">
                <label class="input-group-addon" for="algo_name">
                    Name
                </label>
            </div>
        </div>
        <div class="col-1">
            <h4 class="mt-2">
                <span class="badge badge-<%= algo.profits > 0 ? 'success' :  algo.profits === 0 ? 'secondary' : 'warning' %>">
                    <%= typeof algo.profits === 'undefined' ? 0 : algo.profits.toFixed(2) %>%
                </span>
            </h4>
        </div>
        <div class="col-8 mt-2">
            <button type="submit" name="save" class="btn btn-outline-success ml-3 mr-3">
                <svg class="bi bi-cloud-upload" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.887 8.2l-.964-.165A2.5 2.5 0 105.5 13H8v1H5.5a3.5 3.5 0 11.59-6.95 5.002 5.002 0 119.804 1.98A2.501 2.501 0 0115.5 14H12v-1h3.5a1.5 1.5 0 00.237-2.982L14.7 9.854l.216-1.028a4 4 0 10-7.843-1.587l-.185.96z"></path>
                    <path fill-rule="evenodd" d="M7 10.854a.5.5 0 00.707 0L10 8.56l2.293 2.293a.5.5 0 00.707-.707L10.354 7.5a.5.5 0 00-.708 0L7 10.146a.5.5 0 000 .708z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M10 8a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 0110 8z" clip-rule="evenodd"></path>
                </svg>
                Save
            </button>
            <button type="submit" name="duplicate" class="btn btn-outline-secondary ml-3 mr-3">
                <svg class="bi bi-file-earmark-plus" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h5v-1H4a1 1 0 01-1-1V3a1 1 0 011-1h5v2.5A1.5 1.5 0 0010.5 6H13v2h1V6L9 1z"></path>
                    <path fill-rule="evenodd" d="M13.5 10a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13v-1.5a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M13 12.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"></path>
                </svg>
                Duplicate
            </button>
            <button type="submit" name="delete_algo" class="btn btn-outline-danger float-right">
                <svg class="bi bi-alert-triangle-fill mb-1" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.022 3.566a1.13 1.13 0 011.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H3.144c-.889 0-1.437-.99-.98-1.767L9.022 3.566zM9.002 14a1 1 0 112 0 1 1 0 01-2 0zM10 7a.905.905 0 00-.9.995l.35 3.507a.553.553 0 001.1 0l.35-3.507A.905.905 0 0010 7z" clip-rule="evenodd"></path>
                </svg>
                Delete
            </button>
        </div>
    </div>
    <div class="form-row">
        <div class="col-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend" >
                        <span class="input-group-text" id="basic-addon1" >Account</span>
                    </div>
                    <select name="account_id" class="custom-select">
                        <%
                        for (const [i, account] of algo.accounts.entries())
                        {
                            var selected = ( account.id == algo.account_id ) ? "selected" : "";
                        %>
                            <option value="<%= account.id%>" <%=selected %>>
                                <%= account.name %>
                            </option>
                        <%
                        }
                        %>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Algo will only be active on this account">
                            <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Status</span>
                    </div>
                    <select name="status" class="custom-select">
                        <option value="off" <%= algo.status === 'off' || typeof algo.status === 'undefined' ? 'selected' : 'unselected' %>>Off</option>
                        <option value="backtesting" <%= algo.status === 'backtesting' ? 'selected' : 'unselected' %>>Backtesting</option>
                        <option value="livetesting" <%= algo.status === 'livetesting' ? 'selected' : 'unselected' %>>Livetesting</option>
                        <option value="realtrading" <%= algo.status === 'realtrading' ? 'selected' : 'unselected' %>>Real Trading</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Limit the algo to a specific state">
                            <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Minimum Daily Volume</span>
                    </div>
                    <input type="text" class="form-control" id="min_volume" name="markets_min_volume" value="<%= algo.markets_min_volume %>">
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set a minimum daily volume of the base currency in order to activate algo (ex. 150 btc)">
                            <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseBuy<%= algo.id %>" aria-expanded="false" aria-controls="collapseBuy">
                <svg class="bi bi-chevron-right text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                </svg>
                Buy Config
            </button>
        </div>
    </div>
    <div class="collapse mt-2 mb-5" id="collapseBuy<%= algo.id %>">
      <div class="card card-body">
        <div class="form-row mb-1">
            <div class="col-12">
                <span>The algo will buy when ALL indicators are true.</span>
            </div>
        </div>
        <div class="form-row mb-3" id="buy_active_indicators_<%= algo.id %>">
            <div class="col-12">
                <input type="hidden" class="form-control" name="buy_indicators" value="<%= JSON.stringify(algo.buy_pref.indicators) %>">
                <% for (const  [i, current_indicator] of algo.buy_pref.indicators.entries()){ %>
                <div class="input-group" id="buy_active_indicator_<%= algo.id %>_<%=i%>">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Active Indicator</label>
                    </div>
                    <select name="buy_indicator_timeframe_id" class="custom-select">
                        <%
                        for (const [i, timeframe] of algo.timeframes.entries()) { %>
                            <option value="<%= timeframe.id%>" <%= (current_indicator.timeframe.id == timeframe.id) ? "selected" : "" %>>
                                <%= timeframe.name %>
                            </option>
                        <% } %>
                    </select>
                    <select name="buy_indicator_id"  class="custom-select">
                        <% for (const indicator of algo.indicators) { %>
                            <option value="<%= indicator.id %>" <%= (current_indicator.id == indicator.id) ? "selected" : ""%>>
                                <%= indicator.name%>
                            </option>
                        <% } %>
                    </select>
                    <select name="buy_indicator_trigger_cond"  class="custom-select">
                        <option value="<=" <%= (current_indicator.trigger_cond == "<=") ? "selected" : ""%>>
                            Lesser Than
                        </option>
                        <option value=">=" <%= (current_indicator.trigger_cond == ">=") ? "selected" : ""%>>
                            Greater Than
                        </option>
                    </select>
                    <input type="text" class="form-control" name="buy_indicator_trigger" 
                    value="<%= current_indicator.trigger %>"/>
                    <div class="input-group-append">
                        <span class="input-group-text btn btn-outline-danger" data-toggle="tooltip" data-placement="top" onClick="document.getElementById('buy_active_indicator_<%= algo.id %>_<%=i%>').innerHTML = ''" title="Remove this active indicator">
                            <svg class="bi bi-trash mb-1" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"></path>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"></path>
                            </svg>                        
                        </span>
                    </div>
                </div>
                <% } %>
             </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-12">
                <button class="btn btn-outline-secondary" type="button" onclick="newIndicator('buy_active_indicators_<%= algo.id %>', 'buy')">
                    Add Indicator
                    <svg class="bi bi-plus-square text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="form-row mt-4 mb-1">
            <div class="col-12">
                <span>Activate Trailing to follow the down trends.</span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Trailing Activated&nbsp;<input type="checkbox" id="buy_trailing" name="buy_trailing" disabled="disabled" <%= algo.buy_pref.trail_trig > 0 ? 'checked' : '' %>></span>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="This algo will trail the bear trends to buy lower.">
                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                    <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                    <circle cx="10" cy="6.5" r="1"></circle>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Trailing Trigger</span>
                        </div>
                        <input class="form-control" id="buy_trail_trig<%= algo.id %>" placeholder="Trailing Trigger" type="text" name="buy_trail_trig" value="<%= algo.buy_pref.trail_trig %>" />
                        <div class="input-group-append">
                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set the lower bound, in %, to trail, from the candle trigging price. If the price drops below, it will be recalculated and continue to trail.">
                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Trailing Stop</span>
                        </div>
                        <input class="form-control" id="buy_trail_stop<%= algo.id %>" placeholder="Trailing Stop" type="text" name="buy_trail_stop" value="<%= algo.buy_pref.trail_stop %>" />
                        <div class="input-group-append">
                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set the upper bound, in %, to trail, from the trail trigger. If the price rise above, it will post layers order.">
                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mt-4 mb-1">
            <div class="col-12">
                <span>Layered orders will execute when the indicators (or indicators, then trailing) triggers.</span>
            </div>
        </div>
        <div class="form-row mb-3" id="buy_active_layers_<%= algo.id %>">
            <div class="col-12">
                <% if(!algo.buy_pref.layers) {
                    algo.buy_pref.layers = [
                    {
                        type: algo.buy_pref.order_type,
                        percent: algo.buy_pref.post_price,
                        qty: algo.buy_pref.amount > 0 ? algo.buy_pref.amount : algo.buy_pref.stack ,
                        qty_percent: algo.buy_pref.amount > 0 ? false : true,
                        stall: algo.buy_pref.stall_protect,
                    }]
                }
                    for (const  [i, current_layer] of algo.buy_pref.layers.entries()){ %>
                <div class="input-group" id="buy_active_layer_<%=i%>_<%= algo.id %>">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Active Layer</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Select the type of order once the algo triggers.">
                            Type
                        </span>
                    </div>
                    <select name="buy_layer_type" class="custom-select">
                        <option value="market" <%= (current_layer.type == 'market') ? "selected" : ""%>>
                            Market
                        </option>
                        <option value="limit" <%= (current_layer.type == 'limit') ? "selected" : ""%>>
                            Limit
                        </option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set a % from the trigging price to post the order of this layer. Ignored if market order.">
                            Price %
                        </span>
                    </div>
                    <input type="text" class="form-control" name="buy_layer_percent" 
                    value="<%= current_layer.percent %>"/>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set a quantity (or % of account's balance) to use when posting this layer's order.">
                            Qty
                        </span>
                    </div>
                    <input type="text" class="form-control" name="buy_layer_qty" 
                    value="<%= current_layer.qty %>"/>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Check if qty is in % of account's balance.">
                            %&nbsp;<input type="checkbox" id="buy_layer_qty_percent" name="buy_layer_qty_percent"  <%= current_layer.qty_percent ? "checked" : ""%>>
                        </span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Limit the lifetime, in minutes, of a posted order before it is cancelled">
                            Stall
                        </span>
                    </div>
                    <input type="text" class="form-control" name="buy_layer_stall" 
                    value="<%= current_layer.stall %>"/>
                    <div class="input-group-append">
                        <span class="input-group-text btn btn-outline-danger" data-toggle="tooltip" data-placement="top" onClick="document.getElementById('buy_active_layer_<%=i%>_<%= algo.id %>').innerHTML = ''" title="Remove this active layer">
                            <svg class="bi bi-trash mb-1" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"></path>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"></path>
                            </svg>                        
                        </span>
                    </div>
                </div>
                <% } %>
             </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-12">
                <button class="btn btn-outline-secondary" type="button" onclick="newLayer('buy_active_layers_<%= algo.id %>', 'buy')">
                    Add Layer
                    <svg class="bi bi-plus-square text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
    <div class="form-row mt-3">
        <div class="col-4">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseSell<%= algo.id %>" aria-expanded="false" aria-controls="collapseSell">
                <svg class="bi bi-chevron-right text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                </svg>
                Sell Config
            </button>
        </div>
    </div>
    <div class="collapse mt-2 mb-5" id="collapseSell<%= algo.id %>">
      <div class="card card-body">
        <div class="form-row mb-1">
            <div class="col-12">
                <span>The algo will sell when ALL indicators are true.</span>
            </div>
        </div>
        <div class="form-row" id="sell_active_indicators_<%= algo.id %>">
            <div class="col-12 mb-3">
                <input type="hidden" class="form-control" name="sell_indicators" value="<%= JSON.stringify(algo.sell_pref.indicators) %>">
                <% for (const [i, current_indicator] of algo.sell_pref.indicators.entries()){ %>
                    <div class="input-group" id="sell_active_indicator_<%= algo.id %>_<%=i%>">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Active Indicator</label>
                        </div>
                        <select name="sell_indicator_timeframe_id" class="custom-select">
                            <%
                            for (const [i, timeframe] of algo.timeframes.entries()) { %>
                                <option value="<%= timeframe.id%>" <%= (current_indicator.timeframe.id == timeframe.id) ? "selected" : "" %>>
                                    <%= timeframe.name %>
                                </option>
                            <% } %>
                        </select>
                        <select name="sell_indicator_id"  class="custom-select">
                            <% for (const indicator of algo.indicators) { %>
                                <option value="<%= indicator.id %>" <%= (current_indicator.id == indicator.id) ? "selected" : ""%>>
                                    <%= indicator.name%>
                                </option>
                            <% } %>
                        </select>
                        <select name="sell_indicator_trigger_cond"  class="custom-select">
                            <option value="<=" <%= (current_indicator.trigger_cond == "<=") ? "selected" : ""%>>
                                Lesser Than
                            </option>
                            <option value=">=" <%= (current_indicator.trigger_cond == ">=") ? "selected" : ""%>>
                                Greater Than
                            </option>
                        </select>
                        <input type="text" class="form-control" name="sell_indicator_trigger" 
                        value="<%= current_indicator.trigger %>"/>
                        <div class="input-group-append">
                            <span class="input-group-text btn btn-outline-danger" data-toggle="tooltip" data-placement="top" onClick="document.getElementById('sell_active_indicator_<%= algo.id %>_<%=i%>').innerHTML = ''" title="Remove this active indicator">
                                <svg class="bi bi-trash mb-1" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"></path>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"></path>
                                </svg>                        
                            </span>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-12">
                <button class="btn btn-outline-secondary" type="button" onclick="newIndicator('sell_active_indicators_<%= algo.id %>', 'sell')">
                    Add Indicator
                    <svg class="bi bi-plus-square text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="form-row mt-4 mb-1">
            <div class="col-12">
                <span>Activate Trailing to follow the up trends.</span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Trailing Activated&nbsp;<input type="checkbox" id="sell_trailing" name="sell_trailing" disabled="disabled" <%= algo.buy_pref.trail_trig > 0 ? 'checked' : '' %>></span>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="This algo will trail the bull trends to sell higher.">
                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                    <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                    <circle cx="10" cy="6.5" r="1"></circle>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Trailing Trigger</span>
                        </div>
                        <input class="form-control" id="sell_trail_trig<%= algo.id %>" placeholder="Trailing Trigger" type="text" name="sell_trail_trig" value="<%= algo.sell_pref.trail_trig %>" />
                        <div class="input-group-append">
                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set the upper bound, in %, to trail, from the candle trigging price. If the price rises above, it will be recalculated and continue to trail.">
                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Trailing Stop</span>
                        </div>
                        <input class="form-control" id="sell_trail_stop<%= algo.id %>" placeholder="Trailing Stop" type="text" name="sell_trail_stop" value="<%= algo.sell_pref.trail_stop %>" />
                        <div class="input-group-append">
                            <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set the lower bound, in %, to trail, from the trail trigger. If the price drops below, it will post layers order.">
                                <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                    <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                    <circle cx="10" cy="6.5" r="1"></circle>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mt-4 mb-1">
            <div class="col-12">
                <span>Layered orders will execute when the indicators (or indicators, then trailing) triggers.</span>
            </div>
        </div>
        <div class="form-row mb-3" id="sell_active_layers_<%= algo.id %>">
            <div class="col-12">
                <% if(!algo.sell_pref.layers) {
                    algo.sell_pref.layers = [
                    {
                        type: algo.sell_pref.order_type,
                        percent: algo.sell_pref.post_price,
                        qty: algo.sell_pref.amount > 0 ? algo.sell_pref.amount : algo.sell_pref.stack ,
                        qty_percent: algo.sell_pref.amount > 0 ? false : true,
                        stall: algo.sell_pref.stall_protect,
                    }]
                }
                    for (const  [i, current_layer] of algo.sell_pref.layers.entries()){ %>
                <div class="input-group" id="sell_active_layer_<%= algo.id %>_<%=i%>">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Active Layer</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Select the type of order once the algo triggers.">
                            Type
                        </span>
                    </div>
                    <select name="sell_layer_type" class="custom-select">
                        <option value="market" <%= (current_layer.type == 'market') ? "selected" : ""%>>
                            Market
                        </option>
                        <option value="limit" <%= (current_layer.type == 'limit') ? "selected" : ""%>>
                            Limit
                        </option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set a % from the trigging price to post the order of this layer. Ignored if market order.">
                            Price %
                        </span>
                    </div>
                    <input type="text" class="form-control" name="sell_layer_percent" 
                    value="<%= current_layer.percent %>"/>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Set a quantity (or % of account's balance) to use when posting this layer's order.">
                            Qty
                        </span>
                    </div>
                    <input type="text" class="form-control" name="sell_layer_qty" 
                    value="<%= current_layer.qty %>"/>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Check if qty is in % of account's balance.">
                            %&nbsp;<input type="checkbox" id="sell_layer_qty_percent" name="sell_layer_qty_percent"  <%= current_layer.qty_percent ? "checked" : ""%>>
                        </span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Limit the lifetime, in minutes, of a posted order before it is cancelled. A market order will be posted to exit the trade.">
                            Stall
                        </span>
                    </div>
                    <input type="text" class="form-control" name="sell_layer_stall" 
                    value="<%= current_layer.stall %>"/>
                    <div class="input-group-append">
                        <span class="input-group-text btn btn-outline-danger" data-toggle="tooltip" data-placement="top" onClick="document.getElementById('sell_active_layer_<%= algo.id %>_<%=i%>').innerHTML = ''" title="Remove this active layer">
                            <svg class="bi bi-trash mb-1" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"></path>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"></path>
                            </svg>                        
                        </span>
                    </div>
                </div>
                <% } %>
             </div>
        </div>
        <div class="form-row mb-4">
            <div class="col-12">
                <button class="btn btn-outline-secondary" type="button" onclick="newLayer('sell_active_layers_<%= algo.id %>', 'sell')">
                    Add Layer
                    <svg class="bi bi-plus-square text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>


        <div class="form-row">
            <div class="col-4">
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Stop-loss</span>
                    </div>
                    <input type="text" id="sell_stop-loss<%= algo.id %>" class="form-control" name="sell_stop_loss" value="<%= algo.sell_pref.stop_loss %>" />
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="If the quote price drops x% below the buy value, if will post a limit order.">
                            <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                        </span>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Stop-loss Limit</span>
                    </div>
                    <input type="text" id="sell_stop-loss_limit<%= algo.id %>" class="form-control" name="sell_stop_loss_limit" value="<%= algo.sell_pref.stop_loss_limit %>" />
                    <div class="input-group-append">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="When the stop-loss triggers, it will post a limit order x% above the triggering price. You can set a -x% value to sell below. Set 0 to market sell.">
                            <svg class="bi bi-info text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm8-7a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd"></path>
                                <path d="M10.93 8.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533l1.002-4.705z"></path>
                                <circle cx="10" cy="6.5" r="1"></circle>
                            </svg>
                        </span>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
 </form>
 <hr/>
