    <div class="form-row">
        <div class="col-6">
            <div class="form-label-group">
                <input type="text" class="form-control" id="exchange_id" name="id"
                        value="<%= exchange.id%>">
                <label class="input-group-addon" for="exchange_id">ID</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-label-group">
                <input type="text" class="form-control" id="exchange_name" name="name"
                        value="<%= exchange.name%>">
                <label class="input-group-addon" for="exchange_name">Name</label>
            </div>
        </div>
    </div>
<hr/>
