<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">© Copyright 2019-2020, Asteroid Labs</p>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>