<!-- views/partials/header.ejs -->

<div class="alert alert-warning" role="alert" style="display: none;" id='browser_alert'>
    Please use Firefox or Safari, to help defeat <a href='https://old.reddit.com/r/chrome/comments/arc3st/im_very_concerned_about_chromechromium_monopoly/'>Chrome's monopoly</a> and Google's <a href='https://en.wikipedia.org/wiki/Criticism_of_Google'>bad practices</a>.
</div>
<script>
    let test = navigator.userAgent.includes('Chrome')
    if(test){
        document.getElementById('browser_alert').style.display = 'block'
    }else{
        document.getElementById('browser_alert').style.display = 'none'
    }
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow p-3 mb-5 rounded" role="navigation">
    <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-certificate"></span>
        vostok
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if(!auth){ %>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            <% }else{ %>
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            <% } %>
            <% if(locals.admin && admin){ %>
                <li class="nav-item"><a class="nav-link" href="/settings/">Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="/strategies/">Strategies</a></li>
                <li class="nav-item"><a class="nav-link" href="/scenarios/">Scenarios</a></li>
            <% } %>
            <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
            <li class="nav-item"><a class="nav-link" href="/account/">Accounts</a></li>
            <li class="nav-item"><a class="nav-link" href="/algo/">Algos</a></li>
            <li class="nav-item"><a class="nav-link" href="/tests/backtest/">Backtest</a></li>
            <li class="nav-item"><a class="nav-link" href="/tests/livetest/">Livetest</a></li>
            <li class="nav-item"><a class="nav-link" href="/tests/real/">Real Trading</a></li>
            <% if(locals.admin && admin){ %>
                <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
            <% } %>
        </ul>
    </div>
</nav>