<form action="/indicator/<%=indicator.id%>" method="post">
    <!-- id, Name, email, password, prefs, accounts -->
    <div class="form-row">
        <div class="col-3">
            <input type="text" name="indicator_id" value="<%= indicator.id %>" readonly/>
        </div>
        <div class="col-3">
            <div class="form-label-group">
                <input type="text" class="form-control" id="indicator_name"  name="name"
                        value="<%= indicator.name%>">
                <label class="input-group-addon" for="indicator_name">Name</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-label-group">
                <input type="text" class="form-control" id="indicator_fnc" name="function"
                        value="<%= indicator.function%>">
            <label class="input-group-addon" for="indicator_fnc">Function Name (tulip/custom)</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-label-group">
                <input type="text" class="form-control" id="indicator_periods" name="periods"
                        value="<%= indicator.periods%>">
                <label class="input-group-addon" for="indicator_periods">Periods</label>
            </div>
        </div>
        <div class="col-12">
            <div class="btn-group" role="group" aria-label="...">
                <button type="submit" name="save" class="btn btn-outline-success">Save</button>
                
            </div>
            <button type="submit" name="delete_indicator" class="btn btn-outline-danger">Delete</button>
        </div>
    </div>
</form>
<hr/>
