<form action="/market/<%=market.id%>" method="post">
    <!-- id, Name, email, password, prefs, accounts -->
    <div class="form-row">
        <div class="col-6">
            <input type="hidden" name="market_id" value="<%= market.id %>"/>

            <div class="form-label-group">
                <input type="text" class="form-control" id="market_name"  name="name"
                        value="<%= market.name%>">
                <label class="input-group-addon" for="market_name">Name</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-label-group">
                <input type="text" class="form-control" id="market_sputnik_id" name="function"
                        value="<%= market.sputnik_id%>">
            <label class="input-group-addon" for="market_sputnik_id">Sputnik Id</label>
            </div>
        </div>
        <div class="col-12">
            <div class="btn-group" role="group" aria-label="...">
                <button type="submit" name="save" class="btn btn-outline-success">Save</button>
                
            </div>
            <button type="submit" name="delete_market" class="btn btn-outline-danger">Delete</button>
        </div>
    </div>
</form>
<hr/>