<script>
let trades_total = 0;
let first_trade = 0
    async function renderTrade(trade, data){
        let initial_amount = <%= initial_base_amount %>;
        trade.base_value = trade.qty * trade.price
        //trades_total = trade.base_value - (trades_total > initial_amount ? trades_total : initial_amount)
        //trade.total_percent = trades_total / initial_amount * 100
        trade.market_total_percent = (trade.price - data[data.length -1].opening_price) / data[data.length -1].opening_price * 100

        trade.total = (trade.account_base_value + (trade.account_quote_value * trade.price)) - initial_amount
        trade.total_percent = trade.total / initial_amount * 100

        trade.color = ''
        if(trade.total_percent > 0){
            trade.color = 'table-success' 
        }else if(trade.total_percent < 0){
            trade.color = 'table-danger'
        }

        if(trade.side === 'buy'){
            trade.side_color = 'table-success' 
        }else{
            trade.side_color = 'table-danger'
        }

        trade.market_color = 'table-warning'
        if(trade.market_total_percent > 0){
            trade.market_color = 'table-success' 
        }else if(trade.market_total_percent < 0){
            trade.market_color = 'table-danger'
        }
        let date = new Date(Number(trade.time))
        // render rows
        var tr = document.createElement("tr");
        tr.innerHTML = `<td>${ date.toString().slice(4,-18) }</td>
                        <td>${ trade.market.name }</td>
                        <td>${ (trade.qty).toFixed(3) }</td>
                        <td>${ (trade.price).toFixed(8) }</td>
                        <td>${ (trade.base_value).toFixed(4) }</td>
                        <td class="${ trade.side_color }">${ trade.side }</td>
                        <td class="${ trade.color }">${ trade.total.toFixed(6) } (${ trade.total_percent.toFixed(2) }%)</td>
                        <td class="${ trade.market_color }">${trade.market_total_percent.toFixed(2)}%</td>`
        document.getElementById("trades_table").appendChild(tr)
    }
    async function renderTrades(trades){
        for (const trade of trades){
            await renderTrade(trade, trade.data)
        }
    }
</script>
<script>
    async function chart(series){
        // split the data set into ohlc and volume
        let dataLength = series[0].data.length
        let final_serie = []
        for(const serie of series){
            let volume = []
            for (i=0; i < dataLength; i++) {
                if(typeof serie.data[i] !== 'undefined'){
                    volume.push([
                        serie.data[i][0], // the date
                        serie.data[i][5] // the volume
                    ]);
                }
            }
            final_serie.push(
                {
                    type: 'line',
                    step: true,
                    id: serie.name,
                    name: serie.name,
                    data: serie.data,
                    yAxis: 0
                },
                serie.trades[0],
                serie.trades[1],
                {
                    type: 'column',
                    id: 'volume',
                    name: serie.name+' Volume',
                    data: volume,
                    yAxis: 1
                }
            )
        }
        Highcharts.stockChart('container', {

            rangeSelector: {
                buttons: [{
                type: 'hour',
                count: 1,
                text: '1h'
                }, {
                type: 'day',
                count: 1,
                text: '1D'
                }, {
                type: 'all',
                count: 1,
                text: 'All'
                }],
                selected: 2
            },
            animation: false,

            xAxis: {
                type: 'datetime',
                gridLineWidth: 1,
                crosshair: true,
            },

            yAxis: [{
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }],
                height: '80%',
                resize: {
                    enabled: true
                }
            }, {
                labels: {
                    align: 'left'
                },
                top: '80%',
                height: '20%',
                offset: 0
            }],

            plotOptions: {
                series: {
                    compare: 'percent',
                    showInNavigator: true,
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                        valueDecimals: 8,
                        split: true
                    },
                    animation: {
                        duration: 0
                    }
                },
                flags: {
                    tooltip: {
                        pointFormat: '{point.text}',
                        split: true
                    },
                    animation: false
                }
            },
            series: final_serie,
            responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    rangeSelector: {
                        inputEnabled: false
                    }
                }
            }]
        }
        });
    }
</script>
<script>
    let done = false
    let datas = <%-JSON.stringify(market_datas)%>
    function getSelectValues(select) {
        var result = [];
        var options = select && select.options;
        var opt;

        for (var i=0, iLen=options.length; i<iLen; i++) {
            opt = options[i];

            if (opt.selected) {
            result.push(opt.value || opt.text);
            }
        }
        return result;
        }
    async function filterLogs(){
        
        var el = document.getElementsByTagName('select')[0];
        let accepted_types = getSelectValues(el)
        let trades_data = await fetch('/tests/<%= locals.type %>/get_trades/'+<%=test.id%>)
        let trades = await trades_data.json()
        //let accepted_types = ['info', 'trade', 'trailing', 'limit', 'indicator', 'stall', 'stop-loss']
        let accepted_logs = trades.logs.filter(a => accepted_types.includes(a.type))
        document.getElementById('trading_logs').innerHTML = accepted_logs.map(a => {return a.text}).join("<br/>")
    }
    async function reload(){
        if(done){
          return 0
        }
        let trades_data = await fetch('/tests/<%= locals.type %>/get_trades/'+<%=test.id%>)
        let trades = await trades_data.json()
        if(trades.state === 'done'){
            document.getElementById('test_id-visible').className = "badge badge-success"
            document.getElementById('test_id-visible').innerText = "Done"
            done = true
        }
        if(trades.trades.length > 0){
            // update result header
            // start values
            let initial_quote_balance = 0
            
            let initial_base_balance = 0

            initial_base_balance = <%= initial_base_amount %>;

            let start_quote_name = ''
            let end_quote_name = ''
            let start_base_name = ''
            let end_base_name = ''
            for(const market of datas){
                if(market.id === trades.trades[0].pair_id){
                    start_quote_name = market.name.split("/")[0]
                    start_base_name = market.name.split("/")[1]
                }
                if(market.id === trades.trades[ trades.trades.length - 1 ].pair_id){
                    end_quote_name = market.name.split("/")[0]
                    end_base_name = market.name.split("/")[1]
                    if(end_base_name !== 'BTC'){
                        // get ticker for this market
                        initial_base_balance = initial_base_balance * trades.trades[ trades.trades.length - 1 ].price
                    }
                }
            }
            document.getElementById('StartQuoteBalance').innerHTML = initial_quote_balance.toFixed(3) + ' ' + start_quote_name
            document.getElementById('StartBaseBalance').innerHTML = initial_base_balance.toFixed(3) + ' ' + start_base_name

            // end values
            let quote_balance = trades.trades[ trades.trades.length - 1 ].account_quote_value
            let base_balance = trades.trades[ trades.trades.length - 1 ].account_base_value
            let final_balance = (base_balance + (quote_balance * trades.trades[ trades.trades.length - 1 ].price))
            document.getElementById('EndQuoteBalance').innerHTML = quote_balance.toFixed(3) + ' ' + end_quote_name
            document.getElementById('EndBaseBalance').innerHTML = base_balance.toFixed(3) + ' ' + end_base_name
            document.getElementById('FinalBalance').innerHTML = final_balance.toFixed(3) + ' ' + end_base_name
            
            // gains
            let inital_total = (initial_base_balance + (initial_quote_balance * trades.trades[0].price))
            let gains = (final_balance - inital_total)
            let gains_percent = (gains/inital_total*100)
            document.getElementById('FinalGains').innerHTML = gains.toFixed(3)  + ' ' + end_base_name
            if(gains > 0){
                document.getElementById('FinalGains').className = 'text-success'
            }else{
                document.getElementById('FinalGains').className = 'text-danger'
            }
            document.getElementById('FinalGainsPercent').innerHTML = gains_percent.toFixed(2)
            if(gains_percent > 0){
                document.getElementById('FinalGainsPercent').className = 'text-success'
            }else{
                document.getElementById('FinalGainsPercent').className = 'text-danger'
            }
            document.getElementById('TradesNb').innerHTML = trades.trades.length

            let avg_profits = gains_percent / trades.trades.length
            document.getElementById('AvgProfits').innerHTML = avg_profits.toFixed(3)
            if(avg_profits > 0){
                document.getElementById('AvgProfits').className = 'text-success'
            }else{
                document.getElementById('AvgProfits').className = 'text-danger'
            }
        }else{
            document.getElementById('StartQuoteBalance').innerHTML = 0
            document.getElementById('StartBaseBalance').innerHTML = <%= initial_base_amount %> + ' ' + datas[0].name.split("/")[1]
            document.getElementById('EndQuoteBalance').innerHTML = 0
            document.getElementById('EndBaseBalance').innerHTML = 0
            document.getElementById('FinalBalance').innerHTML = 0
            document.getElementById('FinalGains').innerHTML = 0
            document.getElementById('FinalGainsPercent').innerHTML = 0
            document.getElementById('AvgProfits').innerHTML = 0
        }
        let return_data = []
        document.getElementById("trades_table").innerHTML = ''
        for(const [i, data] of datas.entries()){
            let market_data = data.data.map(function(d) {
                return [
                    Number(d.timed),
                    +d.opening_price,
                    +d.highest_price,
                    +d.lowest_price,
                    +d.closing_price,
                    +d.volume_base
                ];
            }).sort(function(a, b){return a[0]-b[0]});

            let market_buy_trades = {
                    type: 'flags',
                    name: 'buy '+data.name,
                    data: [],
                    color: 'darkgreen', // same as onSeries
                    fillColor: 'green',
                    onSeries: data.name,
                    width: 5,
                    style: { // text style
                        color: 'white'
                    },
                    states: {
                        hover: {
                            fillColor: 'darkgreen' // darker
                        }
                    }
                }
            let market_sell_trades = {
                    type: 'flags',
                    name: 'sell '+data.name,
                    data: [],
                    color: 'darkred', // same as onSeries
                    fillColor: 'red',
                    onSeries: data.name,
                    width: 5,
                    style: { // text style
                        color: 'white'
                    },
                    states: {
                        hover: {
                            fillColor: 'darkred' // darker
                        }
                    }
                }
            if(trades.trades.length > 0 ){
                first_trade = trades.trades[0]
            }
            for(const trade of trades.trades){
                let n_trade = {
                        x: new Date(Number(trade.time)),
                        title: trade.side === 'buy' ? ' ' : ' ',
                        text:  `<b>${trade.side === 'buy' ? 'Buy' : 'Sell'} ${data.name}</b>
                                <br/>Price: ${trade.price}
                                <br/>Qty: ${trade.qty}`,
                        y: trade.price
                    }
                if(data.id === trade.pair_id){
                    if(trade.side === 'buy'){
                        market_buy_trades.data.push(n_trade)
                    }else{
                        market_sell_trades.data.push(n_trade)
                    }
                    trade.data = data.data
                }
            }
            
            let market_trades = [market_buy_trades, market_sell_trades]
            return_data.push({
                name: data.name,
                data: market_data,
                trades: market_trades
            })
        }
        let ordered_trades = trades.trades.sort((a, b) => parseFloat(a.time) - parseFloat(b.time));

        await renderTrades(ordered_trades)
        await chart(return_data)
        await filterLogs()
    }
    reload()
    filterLogs()
    //setInterval(reload, 2000)
</script>