<link rel="stylesheet" href="/static/css/chart.css" />
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<div class="jumbotron shadow rounded" style="padding-bottom:850px;">
    <h4><%= locals.type === 'backtest' ? 'Backtest' : locals.type === 'livetest' ? 'Livetest' : 'Trading' %>
        results
        <% if(test.state === 'done'){ %>
        <span class="badge badge-success" id="test_id-visible" name="test_id-visible">
            Done
        </span>
        <%}else{  %>
            <span class="badge badge-warning" id="test_id-visible" name="test_id-visible">
                <% let res = ''
                    switch (test.state){
                        case 'init':
                            res = 'Starting'
                        break;
                        case 'restart':
                            res = 'Restarting'
                        break;
                        case 'running':
                            res = 'Running, '+test.completion.toFixed(2)+'%'
                        break;
                        case 'stopping':
                            res = 'Stopping'
                        break;
                    } 
                %>
                <%= res %>
            </span>
        <%}%>
        <% if(test.state !== 'done'){ %>
            <button type="button" name="test" class="btn btn-outline-secondary" onClick="reload()">
                Refresh
                <svg class="bi bi-arrow-clockwise text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.147.146a.5.5 0 01.707 0l2.5 2.5a.5.5 0 010 .708l-2.5 2.5a.5.5 0 11-.707-.708L10.293 3 8.147.854a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                    <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 017.103-3.16.5.5 0 10.454-.892A6 6 0 1013.455 5.5a.5.5 0 00-.91.417 5 5 0 11-9.375.789z" clip-rule="evenodd"></path>
                </svg>
            </button>
        <% } %>
    </h4>
    <p>
        <div class="container mb-3">
            <div class="row">
                <div class="col">
                    Account
                </div>
                <div class="col">
                    <a href="/account/<%= test.account_id %>"><%= account.name %></a>
                </div>
                <div class="col">
                    Amount of Trades
                </div>
                <div class="col">
                    <span id="TradesNb"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Algo
                </div>
                <div class="col">
                    <a href="/account/<%= test.algo_id %>"><%= algo.name %></a>
                </div>
                <div class="col">
                    Avg Profit per Trades
                </div>
                <div class="col">
                    <span id="AvgProfits"></span> %
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Markets
                </div>
                <div class="col">
                    <%  let market_list = []
                        for (const [i, market] of market_datas.entries()){ 
                            if(i !== 0){
                                market_list.push(' ' +market.name)
                            }else{
                                market_list.push(market.name)
                            }
                        }
                    %>
                    <%= market_list %>
                </div>
                <div class="col">
                    Start Balances
                </div>
                <div class="col">
                    <span id="StartQuoteBalance"></span> & <span id="StartBaseBalance"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Start
                </div>
                <div class="col">
                    <% let startTime = new Date(Number(test.start)).toLocaleString("en-US", {timeZone: "America/New_York"}); %>
                    <%= new Date(startTime).toString().slice(4,-41) %>
                </div>
                <div class="col">
                    End Balances
                </div>
                <div class="col">
                    <span id="EndQuoteBalance"></span> & <span id="EndBaseBalance"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    End
                </div>
                <div class="col">
                    <% let stopTime = new Date(Number(test.stop)).toLocaleString("en-US", {timeZone: "America/New_York"}); %>
                    <%= new Date(stopTime).toString().slice(4,-41) %>
                </div>
                <div class="col">
                    Final Balance
                </div>
                <div class="col">
                    <span id="FinalBalance"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Market
                </div>
                <div class="col">
                    <% let market_profit = 0
                    if(typeof market_datas[0].data[0] !== 'undefined' && typeof market_datas[0].data[market_datas[0].data.length - 1] !== 'undefined'){
                        market_profit = ((market_datas[0].data[0].opening_price - market_datas[0].data[market_datas[0].data.length - 1].opening_price)/ market_datas[0].data[market_datas[0].data.length - 1].opening_price*100).toFixed(2)
                     } %>
                    <span class="<%= market_profit > 0 ? 'text-success' : 'text-danger' %>"><%= market_profit %></span> %
                </div>
                <div class="col">
                    Simulated Profits
                </div>
                <div class="col">
                    <span id="FinalGains"></span> / <span id="FinalGainsPercent"></span> %
                </div>
            </div>
        </div>
        <div class="col-12 mb-3">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseTrades" aria-expanded="false" aria-controls="collapseBuy">
                <svg class="bi bi-chevron-right text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                </svg>
                Show Trades
            </button>
        </div>
        <div class="collapse mt-2 mb-3" id="collapseTrades">
            <div class="card card-body">
                <table class="table table-striped table-bordered" style="background-color: white;">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Market</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Value</th>
                            <th>Side</th>
                            <th>Total Gain</th>
                            <th>Market Gain</th>
                        <tr/>
                    </thead>
                    <tbody id="trades_table">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 mb-3">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseLogs" aria-expanded="false" aria-controls="collapseBuy">
                <svg class="bi bi-chevron-right text-secondary" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                </svg>
                Show Logs
            </button>
        </div>
        <div class="collapse mt-2 mb-3" id="collapseLogs">
            <div class="card card-body">
                <div class="col-12 mb-3">
                    <select name="types[]" id="choices-multiple-remove-button" placeholder="Filter Logs" multiple class="custom-select" onchange="filterLogs()">
                        <option value="info" selected>
                            General Info
                        </option>
                        <option value="trade" selected>
                            Trades
                        </option>
                        <option value="limit" >
                            Limit Orders
                        </option>
                        <option value="trailing" >
                            Trailing Status
                        </option>
                        <option value="indicator_buy" >
                            Buy Indicators Values
                        </option>
                        <option value="indicator_sell" >
                            Sell Indicators Values
                        </option>
                        <option value="balance_buy" >
                            Buy Balances
                        </option>
                        <option value="balance_sell" >
                            Sell Balances
                        </option>
                        <option value="stall" >
                            Stall Protection Status
                        </option>
                        <option value="stop-loss" >
                            Stop-Loss Status
                        </option>
                    </select>
                </div>
                <script>
                    $(document).ready(function(){
                        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
                        removeItemButton: true,
                        });
                    });
                </script>
                <blockquote id="trading_logs"></blockquote>
            </div>
        </div>
        <div id="container" class="chart"  style="height: 800px; min-width: 600px"></div>
    </p>
    