<form action="/timeframe/<%=timeframe.id%>" method="post">
    <!-- id, Name, email, password, prefs, accounts -->
    <div class="form-row">
        <div class="col-4">
            <div class="form-label-group">
                <input type="text" class="form-control" id="timeframe_id" name="id"
                        value="<%= timeframe.id%>">
                <label class="input-group-addon" for="timeframe_id">ID</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-label-group">
                <input type="text" class="form-control" id="timeframe_name" name="name"
                        value="<%= timeframe.name%>">
                <label class="input-group-addon" for="timeframe_name">Name</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-label-group">
                <input type="text" class="form-control" id="timeframe_value" name="msec_value"
                        value="<%= timeframe.msec_value%>">
                <label class="input-group-addon" for="timeframe_value">Value (milisec)</label>
            </div>
        </div>
        <div class="col-12">
            <div class="btn-group" role="group" aria-label="...">
                <button type="submit" name="save" class="btn btn-outline-success">Save</button>
                
            </div>
            <button type="submit" name="delete_timeframe" class="btn btn-outline-danger">Delete</button>
        </div>
    </div>
</form>
<hr/>
